.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  background-color: #232f3e;
  flex-wrap: wrap;
}

.logo h1 {
  color: rgb(255, 132, 0);
  font-size: 30px;
  margin: 0;
}

.nav {
  display: flex;
  gap: 20px;
}

.nav a {
  color: white;
  font-size: 14px;
  text-decoration: none;
  padding: 8px;
}

.nav a:hover {
  border-bottom: 2px solid #FF9900;
}

.searchBar {
  flex: 1 1 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.searchBar input {
  width: 100%;
  max-width: 500px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
